@use "../../scss/" as *;

.wrapper__loading-step1 {
  padding: 18px 14px;
  @include flex(center, center);

  @include bigMobile {
    margin-bottom: 5px;
  }

  @include mobile {
    margin-bottom: 15px;
  }
}

.shipment__link {
  text-align: center;
  @include smallTablet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 102px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    @include flex(center, center);
  }

  @include bigMobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 102px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    @include flex(center, center);
  }

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 102px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    @include flex(center, center);
  }

  @include mediumMobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 102px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    @include flex(center, center);
  }

  @include smallMobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 102px;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    @include flex(center, center);
  }

  .shipment__image {
    height: 60px;
  }
}

.container__shipment {
  @include flex(center, center);
  .wrapper__shipment {
    width: 1100px;
    @include flex(unset, center);

    @include tablet {
      width: 921px;
    }

    @include smallTablet {
      @include flex(unset, unset);
      width: 523px;
      flex-direction: column-reverse;
    }

    @include bigMobile {
      @include flex(center, center);
      flex-direction: column-reverse;
      padding: 0 20px;
    }

    @include mobile {
      @include flex(center, center);
      flex-direction: column-reverse;
      padding: 0 10px;
    }

    @include mediumMobile {
      @include flex(center, center);
      flex-direction: column-reverse;
      padding: 0 10px;
    }

    @include smallMobile {
      @include flex(center, center);
      flex-direction: column-reverse;
      padding: 0 10px;
    }

    .container__left-shipment {
      flex: 1;
      padding: 56px 44px 0 0;
      border-right: 1px solid $border-color;
      padding-bottom: 20px;

      @include tablet {
        border-right: 1px solid $border-color;
        margin-top: 15px;
      }

      @include smallTablet {
        padding: 0;
        border: none;
      }

      @include bigMobile {
        padding: 0;
        width: 100%;
        border: none;
      }

      @include mobile {
        padding: 0;
        width: 100%;
        border: none;
      }

      @include mediumMobile {
        padding: 0;
        width: 100%;
        border: none;
      }

      @include smallMobile {
        padding: 0;
        width: 100%;
        border: none;
      }

      .wrapper__left-shipment {
        .wrapper__form-shipment {
          margin-top: 20px;
          font-size: 14px;
          margin-bottom: 100px;

          @include tablet {
            margin-bottom: 40px;
          }

          @include smallTablet {
            margin-bottom: 40px;
          }

          @include bigMobile {
            margin-bottom: 20px;
          }

          @include mobile {
            margin-bottom: 20px;
          }

          @include mediumMobile {
            margin-bottom: 20px;
          }

          @include smallMobile {
            margin-bottom: 20px;
          }

          .shipment__heading {
            font-size: 18px;
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 10px;
          }

          .wrapper__error {
            background-color: #fff;
            margin-bottom: 20px;
            width: 100%;

            .error__message {
              background-color: #f8d7da;
              border-radius: 4px;
            }

            .error__item {
              font-size: 14px;
              font-weight: 500;
              margin: 2px 0;
            }
          }

          .input__name {
            width: 100%;
            padding: 13px 40px 13px 12px;
            border-radius: 4px;
            border: 1px solid #c8c3c3;
            font-size: 14px;
          }
          .wrapper__input {
            @include flex(center, center);
            gap: 15px;
            margin-top: 10px;
            font-size: 14px;

            @include bigMobile {
              @include flex(center, center);
              flex-direction: column;
              gap: 10px;
            }

            @include mobile {
              @include flex(center, center);
              flex-direction: column;
              gap: 10px;
            }

            @include mediumMobile {
              @include flex(center, center);
              flex-direction: column;
              gap: 10px;
            }

            @include smallMobile {
              @include flex(center, center);
              flex-direction: column;
              gap: 10px;
            }

            .input__email {
              width: 100%;
              padding: 13px 40px 13px 12px;
              border-radius: 4px;
              border: 1px solid #c8c3c3;

              flex: 3;

              @include mobile {
                font-size: 14px;
              }
            }

            .input__phone {
              flex: 1;
              width: 100%;
              padding: 13px 40px 13px 12px;
              border-radius: 4px;
              border: 1px solid #c8c3c3;

              font-size: 14px;

              @include tablet {
                padding: 13px 30px 13px 12px;
                font-size: 13px;
              }

              @include mobile {
                font-size: 14px;
              }
            }
          }
          .input__address {
            width: 100%;
            padding: 13px 40px 13px 12px;
            border-radius: 4px;
            border: 1px solid #c8c3c3;

            font-size: 14px;
            margin-top: 10px;

            @include mobile {
            }
          }
          .wrapper__select {
            @include flex(center, center);
            gap: 20px;
            margin-top: 10px;

            @include bigMobile {
              display: block;
            }

            @include mobile {
              display: block;
            }

            @include mediumMobile {
              display: block;
            }

            @include smallMobile {
              display: block;
            }

            .select__item {
              flex: 1;
              font-weight: 500;

              @include bigMobile {
                margin-bottom: 10px;
              }

              @include mobile {
                margin: 10px 0;
              }

              @include mediumMobile {
                margin-bottom: 10px;
              }

              @include smallMobile {
                margin-bottom: 10px;
              }
            }
          }
          .select__item-3 {
            width: calc(50% - 10px);
            margin-top: 10px;
            font-weight: 500;

            @include bigMobile {
              width: 100%;
            }

            @include mobile {
              width: 100%;
            }

            @include mediumMobile {
              width: 100%;
            }

            @include smallMobile {
              width: 100%;
            }
          }

          .wrapper__check {
            @include flex(center, space-between);
            margin-top: 40px;
            height: 51px;

            @include bigMobile {
              @include flex(center, center);
              flex-direction: column-reverse;
              gap: 20px;
            }

            @include mobile {
              @include flex(center, center);
              flex-direction: column-reverse;
              gap: 20px;
            }

            @include mediumMobile {
              @include flex(center, center);
              flex-direction: column-reverse;
              gap: 20px;
            }

            @include smallMobile {
              @include flex(center, center);
              flex-direction: column-reverse;
              gap: 20px;
            }

            .shipment__button-link {
              @include mobile {
                width: 100%;
              }
              @include mediumMobile {
                width: 100%;
              }
              @include smallMobile {
                width: 100%;
              }
            }

            .check-text {
              font-size: 14px;
              color: #338dbc;
              font-weight: 600;
              flex: 1;

              @include tablet {
                flex: 1;
              }

              &:hover {
                filter: brightness(1.2);
              }
            }

            .shipment__button-link {
              flex: 1;
              @include flex(center, center);

              @include tablet {
                flex: 2;
              }
            }

            .check-button {
              padding: 18px 9px;
              background-color: #338dbc;
              color: #fff;
              border-radius: 4px;
              font-size: 13px;
              font-weight: 600;
              cursor: pointer;

              @include mobile {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
              }
              @include mediumMobile {
                width: 100%;
              }
              @include smallMobile {
                width: 100%;
              }
            }
          }
        }
      }

      .wrapper__step2 {
        margin: 40px 0;

        .check {
          font-weight: 500;

          @include tablet {
            font-size: 14px;
          }
        }
        .wrapper__check {
          @include flex(center, flex-start);
          border: 2px solid $border-color;
          padding: 20px;
          gap: 10px;
          margin-top: 20px;
          border-radius: 4px;
          cursor: pointer;

          .check__image {
            width: 40px;
            height: 40px;
          }

          .check__title {
            font-size: 14px;
            font-weight: 500;
          }

          .check__input {
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
        }
        .wrapper {
          @include flex(center, space-between);
          margin-top: 40px;
          font-size: 14px;
          height: 52px;

          .title1 {
            color: #338dbc;
            font-weight: 500;
            cursor: pointer;
            flex: 1;
          }

          .title2 {
            padding: 15px 0;
            background-color: #338dbc;
            border-radius: 4px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            flex: 1;
            text-align: center;
          }
        }
      }

      .modal__shipment {
        @include flex(center, center);
        position: fixed;
        inset: 0;
        z-index: 999;

        .overlay {
          position: fixed;
          inset: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 20;
        }

        .wrapper__modal-shipment {
          background-color: #fff;
          z-index: 999;
          @include flex(center, center);

          .modal__shipment-content {
            padding: 20px;
            width: 50vw;
            @include flex(center, center);

            @include smallTablet {
              width: 70vw;
            }
            @include bigMobile {
              width: 80vw;
            }
            @include mobile {
              width: 80vw;
            }
            @include mediumMobile {
              width: 80vw;
            }

            @include smallMobile {
              width: 90vw;
              padding: 10px 10px 20px 10px;
            }

            .wrapper__modal-content {
              width: 100%;

              .wrapper__modal-heading {
                text-align: center;

                .modal__content-heading {
                  @include smallTablet {
                    font-size: 24px;
                  }
                  @include bigMobile {
                    font-size: 22px;
                  }

                  @include mediumMobile {
                    font-size: 18px;
                  }

                  @include smallMobile {
                    font-size: 18px;
                  }
                }
              }
              .wrapper__modal-icon {
                text-align: center;
              }

              .wrapper__information {
                margin-top: 20px;
                border-radius: 4px;
                padding: 12px;
                box-shadow: 0 0 0 1px #d9d9d9;

                @include mobile {
                  font-size: 14px;
                }

                .information__heading {
                  font-weight: 500;
                  margin-bottom: 5px;

                  @include smallTablet {
                    font-size: 22px;
                  }
                  @include bigMobile {
                    font-size: 20px;
                  }

                  @include mediumMobile {
                    font-size: 18px;
                  }
                }

                .container__information {
                  color: #737373;

                  @include mediumMobile {
                    font-size: 14px;
                  }

                  .information__title {
                    color: #4d4d4d;
                    margin-bottom: 5px;
                    font-weight: 600;
                  }

                  .information__vn {
                    margin: 15px 0;
                  }
                }
                .information__check {
                  font-size: 14px;
                  color: #4d4d4d;
                }

                .information__cod {
                  font-size: 14px;
                  color: #737373;
                }
              }
              .wrapper__information-footer {
                @include flex(center, space-between);
                font-size: 14px;
                margin-top: 40px;
                gap: 40px;

                @include tablet {
                  gap: 0;
                }
                @include smallTablet {
                  gap: 20px;
                  flex-direction: column;
                  margin-top: 20px;
                }

                @include bigMobile {
                  flex-direction: column;
                  gap: 20px;
                }

                @include mobile {
                  flex-direction: column;
                  gap: 20px;
                }

                @include mediumMobile {
                  flex-direction: column;
                  gap: 20px;
                  font-size: 14px;
                }

                @include smallMobile {
                  flex-direction: column;
                  gap: 20px;
                }

                .wrapper__left {
                  @include flex(center, flex-start);
                  gap: 5px;
                  font-size: 16px;
                  color: #737373;

                  @include mobile {
                    font-size: 14px;
                  }

                  @include mediumMobile {
                    font-size: 14px;
                  }

                  .information__footer-title {
                    color: #338dbc;
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }

                .wrapper__shipment-button {
                  font-size: 16px;

                  @include smallTablet {
                    width: 100%;
                  }
                  @include bigMobile {
                    width: 100%;
                  }

                  @include mobile {
                    width: 100%;
                    font-size: 14px;
                  }
                  @include mediumMobile {
                    width: 100%;
                  }

                  @include smallMobile {
                    width: 100%;
                  }
                }
                .information__button {
                  padding: 18px 20px;
                  background-color: #338dbc;
                  color: #fff;
                  border-radius: 4px;
                  cursor: pointer;
                  font-weight: 500;
                  display: block;

                  @include smallTablet {
                    padding: 14px 20px;
                  }

                  @include bigMobile {
                    width: 100%;
                    text-align: center;
                    padding: 14px 0;
                  }

                  @include mobile {
                    width: 100%;
                    text-align: center;
                    padding: 14px 0;
                  }

                  @include mediumMobile {
                    width: 100%;
                    padding: 14px 0;
                    text-align: center;
                    font-size: 14px;
                  }

                  @include smallMobile {
                    width: 100%;
                    text-align: center;
                    padding: 14px 0;
                  }

                  &:hover {
                    filter: brightness(1.2);
                  }
                }
              }
            }
          }
        }
      }
    }

    .container__right-shipment {
      flex: 1;
      padding: 56px 0 0 44px;

      @include smallTablet {
        padding: 120px 0 0 0;
      }

      @include bigMobile {
        width: 100%;
        padding: 120px 5px 0 5px;
      }

      @include mobile {
        padding: 120px 5px 0 5px;
        width: 100%;
      }

      @include mediumMobile {
        padding: 120px 5px 0 5px;
        width: 100%;
      }

      @include smallMobile {
        padding: 120px 5px 0 5px;
        width: 100%;
      }

      .wrapper__product-shipment {
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;

        @include mobile {
          padding-bottom: 10px;
        }
        .shipment__item {
          @include flex(center, space-between);
          margin-bottom: 15px;

          @include tablet {
            margin-bottom: 15px;
          }

          .wrapper__item-product {
            @include flex(center, center);
            position: relative;

            .item__qty {
              position: absolute;
              left: 55px;
              top: -10px;
              background-color: rgba(153, 153, 153, 0.9);
              padding: 2px 8px;
              border-radius: 100%;
              font-size: 12px;
              color: #fff;
            }

            .shipment__img {
              width: 70px;
              height: 70px;
              border: 1px solid $border-color;
              border-radius: 7px;
              object-fit: contain;
            }

            .shipment__item-name {
              font-weight: 500;
              font-size: 15px;
              margin-left: 10px;
              color: #4b4b4b;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0 5px;
            }
          }
          .shipment__item-price {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .wrapper__voucher {
        @include flex(center, space-between);
        margin-top: 20px;
        gap: 20px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;

        .wrapper__voucher-input {
          flex: 3;
          border: 1px solid $border-color;
          border-radius: 4px;
          overflow: hidden;

          &:focus {
            border: 2px solid $blue-color;
          }

          .voucher__input {
            padding: 15px 12px;
            width: 100%;
          }
        }

        .voucher__button {
          flex: 1;
          padding: 14px 0;
          border-radius: 4px;
          background-color: #c8c8c8;
          cursor: pointer;
          color: #fff;
          font-weight: 600;

          @include smallMobile {
            padding: 14px 5px;
          }
        }
      }

      .wrapper__price-shipment {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 500;
        color: #717171;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        .shipment__product-price {
          @include flex(center, space-between);
          margin-bottom: 10px;
        }
        .shipment__delivery {
          @include flex(center, space-between);
        }
      }

      .shipment__total-price {
        font-size: 16px;
        margin-top: 20px;
        @include mobile {
          border-bottom: 1px solid $border-color;
          padding-bottom: 20px;
        }
        .wrapper__total-price {
          @include flex(center, space-between);
          .wrapper__price {
            @include flex(center, center);
            gap: 10px;

            .vnd {
              font-size: 14px;
              font-weight: 500;
              color: #969696;
            }
          }
          .total-text {
            font-weight: 500;
            color: #4b4b4b;
          }

          .total-price {
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
