@use "../../scss/" as *;

.wrapper__product {
  margin-top: 70px;
  @include flex(center, center);

  @include mobile {
    margin-top: 40px;
  }

  &-item {
    width: 1170px;

    @include mobile {
      margin-left: 0;
    }

    .wrapper__product-heading {
      @include tablet {
        margin-left: 25px;
      }
      @include mobile {
        margin-left: 0;
      }
    }

    .container__watch {
      @include flex(center, flex-start);
      gap: 30px;

      @include tablet {
        margin-left: 25px;
      }

      @include mobile {
        margin-left: 20px;
      }

      .watch {
        text-align: center;
        margin: 40px 0;

        &:hover {
          color: $blue-color;
        }

        .active {
          color: $blue-color;
        }

        .inactive {
          color: #acb2b0;
        }

        &__img {
          width: 60px;
          height: 60px;
        }

        &__name {
          font-weight: 500;

          @include tablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 12px;
          }
        }

        &__link {
          color: inherit;
        }
      }
    }
  }

  .container__list-watch {
    @include flex(center, center);
  }

  .list__watch {
    width: 1170px;
    @include flex(center, flex-start);
    flex-wrap: wrap;
    gap: 15px;

    @include tablet {
      width: 960px;
      @include flex(center, flex-start);
    }

    @include smallTablet {
      width: 690px;
    }

    @include mobile {
      width: 396px;
    }
    @include smallMobile {
      width: 300px;
    }

    &--wrapper {
      width: 247px;
      height: 337px;
      padding: 10px;
      text-align: center;
      border: 1px solid #ccc;
      overflow: hidden;

      &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }

      @include tablet {
        width: 228px;
        height: 335px;
      }

      @include smallTablet {
        width: 220px;
        height: 320px;
      }

      @include mobile {
        width: 190px;
        height: 280px;
      }

      @include smallMobile {
        width: 140px;
        height: 225px;
      }
    }

    &--wrapper-image:hover .list__watch--image {
      transform: scale(1.1);
      background-color: rgba(0, 0, 0, 0.2);
    }

    &--image {
      object-fit: contain;
      overflow: hidden;
      position: relative;
      width: 90%;
      margin: 10px 0;
      transition: all 0.5s ease;

      @include tablet {
        width: 192px;
        height: 217px;
      }

      @include mobile {
        width: 180px;
        height: 180px;
      }

      @include smallMobile {
        width: 110px;
        height: 110px;
      }
    }

    &--name {
      font-size: 14px;
      font-weight: 600;
      margin: 10px 0;

      @include mobile {
        font-size: 12px;
      }

      @include smallMobile {
        font-size: 12px;
        margin: 0 0 10px 0;
      }
    }

    &--price {
      font-size: 15px;
      font-weight: 700;
      color: $primary-color;

      @include mobile {
        font-size: 14px;
      }
    }
  }

  .wrapper__new--product {
    margin-top: 60px;
    height: 1000px;

    .wrapper__heading--product {
      @include tablet {
        margin-left: 30px;
      }

      @include mobile {
        margin-left: 0;
      }
    }

    .wrapper__slide {
      @include mobile {
        @include flex(center, center);
      }
    }

    .wrapper__slide--content {
      width: 740px;
      margin-top: 40px;
      position: relative;
      @include flex(center, flex-start);

      @include tablet {
        width: 585px;
        margin-left: 30px;
      }
      @include smallTablet {
        width: 385px;
        margin-left: 30px;
      }

      @include mobile {
        width: 396px;
        margin-left: 0;
        margin-top: 30px;
        @include flex(center, center);
      }

      @include mediumMobile {
        width: 346px;
        margin-top: 30px;

        margin-left: 0;
        @include flex(center, center);
      }

      @include smallMobile {
        width: 290px;
        margin-top: 20px;
        margin-left: 0;
        @include flex(center, center);
      }

      .wrapper__slide-icon-left {
        cursor: pointer;
        background-color: #f5f5f5;
        @include flex(center, center);
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        z-index: 10;
        transform: translateY(-50%);

        @include tablet {
          transform: translateY(-50%);
        }

        @include smallTablet {
          padding: 8px;
        }

        @include mobile {
          left: 0;
          padding: 6px;
          transform: translateY(-150%);
        }

        @include smallMobile {
          padding: 5px;
          transform: translateY(-180%);
        }
      }

      .wrapper__slide-icon-right {
        cursor: pointer;
        background-color: #f5f5f5;
        @include flex(center, center);
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        right: 2px;
        z-index: 10;
        transform: translateY(-50%);

        @include tablet {
          transform: translateY(-50%);
        }

        @include smallTablet {
          padding: 8px;
        }

        @include mobile {
          right: 0;
          padding: 6px;
          transform: translateY(-150%);
        }
        @include smallMobile {
          padding: 5px;
          transform: translateY(-180%);
        }
      }

      .wrapper__slide-wrapper {
        // width: 247px;
        // height: 338px;
        border: 1px solid #ccc;
        text-align: center;
        padding: 10px;

        &:hover {
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }

        // @include tablet {
        //   width: 195px;
        //   height: 315px;
        // }

        // @include smallTablet {
        //   width: 192px;
        // }

        // @include mobile {
        //   width: 198px;
        //   height: 275px;
        // }

        // @include mediumMobile {
        //   width: 173px;
        //   height: 275px;
        // }

        // @include smallMobile {
        //   width: 145px;
        //   height: 230px;
        // }

        .wrapper__slide-link {
          width: 223px;
          height: 338px;
        }

        .list__slide-image {
          height: 202px;
          width: 202px;
          object-fit: contain;
          margin: 10px 0;

          &:hover {
            background-color: #ccc;
            transform: scale(1.1);
            transition: all 0.5s ease;
          }

          @include mobile {
            width: 180px;
            height: 180px;
          }

          @include smallMobile {
            width: 110px;
            height: 110px;
          }
        }

        .wrapper__slide-name {
          font-weight: 600;
          margin: 10px 0;

          @include mobile {
            font-size: 14px;
            margin: 0 0 10px 0;
          }
        }

        .wrapper__slide-price {
          font-weight: 700;
          color: $primary-color;
          font-size: 14px;
        }
      }
    }

    .product__image {
      width: 100%;
      height: 100%;
    }

    // .swiper-slide {
    //   width: 246px !important;
    //   height: 358px !important;

    //   @include tablet {
    //     width: 195px !important;
    //   }

    //   @include smallTablet {
    //     width: 192px !important;
    //   }

    //   @include mobile {
    //     width: 198px !important;
    //   }

    //   @include mediumMobile {
    //     width: 173px !important;
    //   }

    //   @include smallMobile {
    //     width: 145px !important;
    //   }
    // }
  }
}
