@use "../../scss/" as *;

.wrapper__cart {
  &-body {
    @include flex(center, center);
    border-top: 1px solid $border-color;
    margin-top: 14px;

    @include tablet {
      margin-top: 60px;
    }

    @include smallTablet {
      margin-bottom: 30px;
      margin-top: 40px;
    }

    @include bigMobile {
      margin-top: 40px;
    }

    @include mobile {
      margin-top: 60px;
    }

    @include mediumMobile {
      margin-top: 40px;
    }

    @include smallMobile {
      margin-top: 40px;
    }
  }
  .wrapper__cart-body {
    @include flex(center, center);

    .wrapper__cart-content {
      @include flex(unset, center);
      width: 1170px;

      @include tablet {
        width: 974px;
      }

      @include smallTablet {
        width: 734px;
        display: block;
      }

      @include bigMobile {
        display: block;
        margin-bottom: 20px;
      }

      @include mobile {
        display: block;
        margin-bottom: 20px;
      }

      @include mediumMobile {
        display: block;
        margin-bottom: 20px;
      }

      @include smallMobile {
        display: block;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
      }

      .wrapper__cart-products {
        flex: 2;
        padding: 0 15px;

        @include tablet {
          padding: 0 15px;
        }

        @include smallMobile {
          padding: 0;
        }

        .wrapper__cart-title {
          @include flex(center, space-between);
          border-bottom: 1px solid $border-color;
          padding: 20px 0;
          margin-bottom: 25px;

          @include mobile {
            display: block;
          }

          @include mediumMobile {
            display: block;
          }

          @include smallMobile {
            display: block;
          }

          .cart__content {
            font-size: 24px;
            font-weight: 600;

            @include mobile {
              margin-bottom: 10px;
            }

            @include smallMobile {
              margin-bottom: 5px;
            }
          }

          .wrapper__title {
            font-size: 16px;

            @include mobile {
              font-size: 14px;
            }
          }
        }

        .wrapper__product-cart {
          border: 2px solid #ebebeb;
          border-radius: 5px;
          padding: 0 20px 0 20px;
          margin-bottom: 10px;

          @include mobile {
            padding: 0 9px;
          }

          @include smallMobile {
            padding: 0 10px 0 10px;
          }

          .wrapper__cart-item {
            @include flex(unset, space-between);
            margin: 10px 0;
            border-bottom: 1px solid $border-color;
            padding: 20px 0;

            &:last-child {
              border: none;
            }

            @include bigMobile {
              padding: 15px 0;
              margin: 0;
            }

            @include mobile {
              padding: 15px 0;
              margin: 0;
            }

            @include mediumMobile {
              padding: 15px 0;
              margin: 0;
            }

            @include smallMobile {
              padding: 15px 0;
              margin: 0;
            }

            .wrapper__cart-left {
              @include flex(unset, center);

              @include mobile {
                @include flex(center, center);
              }

              .wrapper__cart-img {
                border: 1px solid $border-color;
                @include flex(center, center);
                position: relative;

                object-fit: contain;

                @include bigMobile {
                  width: 100%;
                }

                @include mobile {
                  height: 100%;
                  width: 100%;
                }

                @include mediumMobile {
                  width: 100%;
                }

                @include smallMobile {
                  width: 100%;
                }

                .wrapper__icon-cart {
                  position: absolute;
                  padding: 4px;
                  background-color: red;
                  border-radius: 50%;
                  @include flex(center, center);
                  left: -10px;
                  top: -7px;
                  cursor: pointer;

                  @include mobile {
                    top: -6px;
                    left: -9px;
                  }

                  @include mediumMobile {
                    padding: 2px;
                  }

                  @include smallMobile {
                    padding: 2px;
                  }
                }

                .cart__img {
                  width: 80px;
                  height: 80px;
                  object-fit: contain;

                  @include smallMobile {
                    width: 60px;
                    height: 60px;
                  }
                }
              }

              .wrapper__cart-detail {
                margin-left: 20px;

                @include bigMobile {
                  margin-left: 10px;
                }

                @include mobile {
                  margin-left: 10px;
                }

                @include mediumMobile {
                  margin-left: 10px;
                }

                @include smallMobile {
                  margin-left: 10px;
                }

                .cart__name {
                  font-weight: 600;
                  margin-bottom: 10px;
                  font-size: 16px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  padding: 0 5px;

                  @include mobile {
                    font-size: 14px;
                  }

                  @include smallMobile {
                    font-size: 12px;
                  }
                }

                .cart__price {
                  color: #8f9bb3;
                  font-size: 14px;
                  font-weight: 600;

                  @include mobile {
                    font-size: 12px;
                  }
                }
              }
            }
            .wrappper__cart-total {
              text-align: center;
              .cart__total {
                font-weight: 600;
                margin-bottom: 15px;
                font-size: 16px;

                @include mobile {
                  font-size: 14px;
                }

                @include smallMobile {
                  font-size: 12px;
                }
              }
              .wrapper__cart-icon {
                @include flex(center, space-between);
                width: 92px;

                .cart__add {
                  width: 28px;
                  height: 28px;
                  @include flex(center, center);
                  background-color: #f9f9f9;
                  cursor: pointer;
                }

                .cart__qty {
                  font-weight: 600;
                  font-size: 16px;

                  @include mobile {
                    font-size: 14px;
                  }

                  @include smallMobile {
                    font-size: 12px;
                  }
                }

                .cart__remove {
                  width: 28px;
                  height: 28px;
                  @include flex(center, center);
                  background-color: #f9f9f9;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .wrapper__cart-price {
        flex: 1;
        padding: 0 15px;
        margin-top: 20px;

        @include smallMobile {
          padding: 0;
        }

        .cart__right-total {
          padding: 15px;
          border: 1px solid $border-color;

          .wrapper__total {
            @include flex(center, space-between);
            border-bottom: 1px solid $border-color;
            padding: 10px 0;

            .cart__title-total {
              font-weight: 700;
              font-size: 16px;
            }

            .cart__price-total {
              font-size: 20px;
              color: $primary-color;
              font-weight: 700;
            }
          }
          .wrapper__policy {
            margin-top: 20px;
            font-size: 14px;
            padding-left: 15px;

            .policy__text {
              margin-bottom: 10px;
            }
          }

          .cart__button {
            border: none;
            background-color: $primary-color;
            color: #fff;
            width: 100%;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            margin-top: 10px;
            cursor: pointer;

            .cart__link {
              width: 100%;
              display: block;
              height: 100%;
              padding: 10px 5px;
            }
          }
        }
        .purchase-policy {
          background-color: #d9edf7;
          padding: 12px 15px;
          font-size: 14px;
          margin-top: 20px;

          .policy__header {
            font-weight: 700;
            margin: 5px 0 10px 0;
          }
        }
      }
    }
  }
}

.wrapper__empty-card {
  @include flex(center, center);
  border-top: 1px solid $border-color;
  margin-top: 13px;

  @include tablet {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  @include smallTablet {
    margin-top: 40px;
  }

  @include bigMobile {
    margin-top: 40px;
  }
  @include mobile {
    margin-top: 60px;
  }

  @include mediumMobile {
    margin-top: 40px;
  }

  @include smallMobile {
    display: block;
    margin-top: 40px;
  }

  .wrapper__empty {
    width: 1170px;
    @include flex(center, center);

    @include tablet {
      width: 888px;
    }

    @include smallTablet {
      width: 750px;
    }

    @include mobile {
      width: 355px;
    }

    @include smallMobile {
      width: 300px;
    }

    .wrapper__empty-content {
      text-align: center;
      .empty__heading {
        text-align: center;
        font-weight: 700;
        font-size: 22px;

        @include smallTablet {
          font-size: 20px;
        }

        @include mobile {
          font-size: 18px;
        }
      }

      .empty__title {
        color: #727272;
        margin: 10px 0;
        font-size: 16px;
        font-weight: 500;

        @include mobile {
          font-size: 14px;
        }
      }

      .empty__button {
        border: 1px solid #080808;
        color: #080808;
        border-radius: 5px;
        padding: 12px 24px;
        margin-top: 10px;
        background-color: #fff;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          color: #fff;
          background-color: #000;
          transition: all 0.3s ease;
        }
      }

      .empty__image {
        @include smallTablet {
          width: 250px;
          height: 250px;
        }

        @include mobile {
          width: 200px;
          height: 200px;
        }

        @include smallMobile {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
}
