@use "../../scss/" as *;

.container__partner-item {
  @include flex(center, center);

  @include tablet {
    @include flex(center, center);
    width: 100%;
  }

  @include smallTablet {
    display: block;
    margin-left: 20px;
  }

  @include bigMobile {
    display: block;
    margin-left: 20px;
  }

  @include mobile {
    display: block;
    @include flex(center, center);
    width: 100%;
  }
}

.partner {
  width: 1170px;

  @include tablet {
    width: 960px;
  }
  @include smallTablet {
    width: 720px;
  }

  @include bigMobile {
    width: 600px;
  }

  @include mobile {
    width: 100%;
  }

  @include mediumMobile {
    width: 100%;
  }

  @include smallMobile {
    width: 100%;
  }

  .brand {
    margin-top: 70px;

    @include mobile {
      margin: 40px 15px 0 15px;
    }

    .slide__wrapper {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-left: 3px;
      width: 200px;
      @include flex(center, center);
      height: 70px;
      margin-right: 30px;

      @include tablet {
      }
      @include mobile {
      }
    }
    .slide__img {
      width: 165px;
      height: 57px;

      @include tablet {
        width: 150px;
        height: 57px;
      }

      @include tablet {
        width: 130px;
        height: 57px;
      }
    }
  }
}
