@use "../../scss/" as *;

.container__partner-item {
  @include flex(center, center);

  @include tablet {
    @include flex(center, center);
    width: 100%;
  }

  @include smallTablet {
    display: block;
  }

  @include bigMobile {
    display: block;
  }

  @include mobile {
    display: block;
    @include flex(center, center);
    width: 100%;
  }
}

.partner {
  width: 1170px;

  @include tablet {
    width: 100%;
  }
  @include smallTablet {
    width: 100%;
  }

  @include bigMobile {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include mediumMobile {
    width: 100%;
  }

  @include smallMobile {
    width: 100%;
  }

  .wrapper__partner-heading {
    @include tablet {
      margin-left: 25px;
    }
  }

  .brand {
    margin-top: 70px;
    height: 100%;
    padding: 0 20px;

    @include smallTablet {
      margin-top: 50px;
    }
    @include bigMobile {
      margin-top: 30px;
    }
    @include mobile {
      margin-top: 20px;
    }
    @include mediumMobile {
      margin-top: 20px;
    }
    @include smallMobile {
      margin-top: 20px;
    }

    .slide__wrapper {
      .wrapper__slide-img {
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        @include flex(center, center);
        height: 100%;
        border-radius: 4px;
        .slide__img {
          height: 100px;

          @include smallTablet {
            height: 70px;
          }
          @include bigMobile {
            height: 65px;
          }
          @include mobile {
            height: 60px;
          }
          @include mediumMobile {
            height: 60px;
          }
          @include smallMobile {
            height: 60px;
          }
        }
      }
    }
  }
}
