$primary-color: #f61900;
$blue-color: #05c3ff;

$mobile-width: 600px;
$smallMobile-width: 320px;
$mediumMobile-width: 376px;
$tablet-width: 1024px;
$smallTablet-width: 768px;

$font-family: "Montserrat", sans-serif;
