$primary-color: #f61900;
$blue-color: #05c3ff;

$bigMobile-width: 425px;
$mobile-width: 425px;
$smallMobile-width: 320px;
$mediumMobile-width: 375px;
$tablet-width: 1024px;
$smallTablet-width: 768px;
$border-color: #ebebeb;

$font-family: "Montserrat", sans-serif;
