@use "../../scss/" as *;

.container {
  margin-bottom: 40px;
  .wrapper__slide-img {
    @include flex(center, center);
    cursor: pointer;
    .slide__image {
      object-fit: cover;
      width: 95%;
    }
  }
}
