@use "../../scss/" as *;

.wrapper__products-container {
  width: 100%;

  .wrapper__icon-modal {
    display: none;
    position: absolute;
    right: 230px;
    top: 40%;
    z-index: 999;
    transition: all 0.5s ease;

    @include smallTablet {
      @include flex(center, center);
      background-color: $blue-color;
      padding: 3px;
      cursor: pointer;
    }

    @include bigMobile {
      @include flex(center, center);
      background-color: $blue-color;
      padding: 3px;
      cursor: pointer;
    }

    @include mobile {
      @include flex(center, center);
      background-color: $blue-color;
      padding: 3px;
      cursor: pointer;
    }

    @include mediumMobile {
      @include flex(center, center);
      background-color: $blue-color;
      padding: 3px;
      cursor: pointer;
    }

    @include smallMobile {
      @include flex(center, center);
      background-color: $blue-color;
      padding: 3px;
      cursor: pointer;
    }
  }

  .modal__products {
    display: none;
    @include smallTablet {
      display: block;
      position: relative;
    }

    @include bigMobile {
      display: block;
      position: relative;
    }

    @include mobile {
      display: block;
      position: relative;
    }

    @include mediumMobile {
      display: block;
      position: relative;
    }
    @include smallMobile {
      display: block;
      position: relative;
    }

    .overlay__products {
      position: fixed;
      inset: 0;
      @include flex(center, flex-end);
      z-index: 999;

      .modal__products-content {
        background-color: #fff;
        height: 100%;
        transition: all 0.5s ease;

        @include smallTablet {
          width: 230px;
          overflow-y: scroll;
          position: relative;
        }
        @include bigMobile {
          width: 230px;
          overflow-y: scroll;
          position: relative;
        }

        @include mobile {
          width: 230px;
          overflow-y: scroll;
          position: relative;
        }

        @include mediumMobile {
          width: 230px;
          overflow-y: scroll;
          position: relative;
        }

        @include smallMobile {
          width: 230px;
          overflow-y: scroll;
          position: relative;
        }
      }
    }
  }

  .container__products {
    border-top: 1px solid $border-color;
    width: 100%;
    height: 100%;
    @include flex(center, center);
    margin-top: 13px;

    @include tablet {
      width: 100%;
      padding: 0 20px;
      margin-top: 60px;
    }

    @include smallTablet {
      margin-top: 40px;
    }

    @include bigMobile {
      margin-top: 40px;
    }

    @include mobile {
      margin-top: 60px;
    }

    @include mediumMobile {
      margin-top: 40px;
    }

    @include smallMobile {
      margin-top: 40px;
    }

    .wrapper__products {
      width: 1170px;
      height: 100%;
      @include flex(unset, center);
      gap: 30px;
      margin-top: 40px;

      .wrapper__sidebar-content {
        width: 25%;
        @include smallTablet {
          display: none;
        }

        @include bigMobile {
          display: none;
        }

        @include mobile {
          display: none;
        }

        @include mediumMobile {
          display: none;
        }

        @include smallMobile {
          display: none;
        }
      }

      .products__list {
        width: 75%;
        height: 100%;

        > .pagination {
          @include flex(center, center);
          margin-block: 20px;
        }

        .products__list-heading {
          font-size: 20px;
          font-weight: 500;
          border-bottom: 1px solid $border-color;
          padding: 0 0 10px 0;
        }
        .products__list-item {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 20px;

          @include mobile {
            grid-template-columns: 1fr 1fr;
          }

          @include mediumMobile {
            grid-template-columns: 1fr 1fr;
          }

          @include smallMobile {
            grid-template-columns: 1fr 1fr;
          }

          .wrapper__item-list {
            width: 33%;
            @include flex(center, center);
            flex-direction: column;
            border: 1px solid $border-color;
            padding: 10px 0;

            .item__list-image {
              width: 235px;
              height: 235px;
            }

            .item__name {
              text-align: center;
            }
            .item__price {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
